{% extends '_layout.html.twig' %}

{% block title %} fiche {{ vegetable.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vegetableSheet') }}
{% endblock %}
{% block body %}
    <div class="container-fluid page-content">
        <div class="row justify-content-between  mr-2 mb-4">
            <img class="logo-vegetable-sheet offset-1" src="/images/logofiche.png" alt="image principale">
            <h1 class="text-center rounded bg-success p-3 text-light ">Ce
                qu'il faut
                savoir sur {{ vegetable.name }}</h1>
            </div>
    </div>
    <div class="container mb-5 mt-5">
        <div class="row  justify-content-between">
            <img class="photo rounded col-5 p-0 mb-5" alt="{{ vegetable.name }}"
                                          src="{% if vegetable.imageName is  empty %}/images/sans-image.jpg"{% else %}
                {{ vich_uploader_asset(vegetable, 'imageFile') }}" {% endif %}
                />

            <div>
                <table class="table table-striped table-hover">
                    <thead class="bg-success text-white">
                    <tr>
                        <th scope="col">Fiche {{ vegetable.name }} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Nom du légume :</th>
                        <td>{{ vegetable.name }}</td>

                    </tr>
                    <tr>
                        <th scope="row">Nom latin :</th>
                        <td>{{ vegetable.latinName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Famille :</th>
                        <td>{{ vegetable.family }}</td>
                    </tr>
                    <tr>
                        <th scope="row">type de légume :</th>
                        <td>{{ vegetable.type }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Moi de récolte</th>
                        <td>{{ vegetable.harvestMonth }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Type de sol :</th>
                        <td>{{ vegetable.soilType }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-4 mt-4">
            <div><h2 class="mb-5">Description : </h2></div>
        </div>
           <div> {{ vegetable.description|raw }}</div>

    </div>
{% endblock %}
