<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>{% block title %}Welcome!{% endblock %}</title>
 {% block stylesheets %}
  {{ encore_entry_link_tags('admin') }}
 {% endblock %}
</head>
<body>
{% include 'adminNavbar.html.twig' %}
{% for category, messages in app.flashes %}
 {% for message in messages %}
  <div class="container alert alert-{{ category }} mt-3 text-center">
   {{ message }}
  </div>
 {% endfor %}
{% endfor %}
{% block body %}
{% endblock %}
{% block javascripts %}
 {{ encore_entry_script_tags('app') }}
 {{ encore_entry_script_tags('sideBar') }}
 <script src="https://kit.fontawesome.com/38fc56fe7a.js" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
